@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #9acbe2;
    margin: 0;
    padding: 0;
}

.contact-section{
    background-color: #91C8E4;
    padding: 40px 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.contact-section h1{
    text-align: center;
    color: #ddd;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    color: white;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #222831;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
    border-radius: 15px;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #4682A9;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.sent-btn {
    float: right;
    padding: 12px 40px;
    background:#4682A9;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: medium;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    box-shadow: none;
}
.sent-btn:hover{
    background:#234C6A;
    outline: none;
    box-shadow: none;
}
.back-btn {
    padding: 12px 40px;
    background: #4682A9;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: medium;
    cursor: pointer;
    transition: 0.5s;
}
.back-btn:hover{
    background: #234C6A;
}
